---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';

import { garages } from '@src/data/garages';

---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'Garages',
    tableOfContents: false,
}}>
    <p>Every openable garage in San Andreas can be opened or closed through the <a href="/reference/setGarageOpen">setGarageOpen</a> function.</p>

    <p>The garage IDs and their descriptions are listed below:</p>
    <table class="garages-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Garage Name</th>
                <th>Position (x, y, z)</th>
            </tr>
        </thead>
        <tbody>
            {Object.entries(garages).map(([id, garage]) => (
            <tr>
                <td>{id}</td>
                <td>
                <code>{garage.name}</code>
                {garage.isDiagonal && (
                    <span class="warningdot"> *</span>
                )}
                </td>
                <td style={garage.position === undefined ? "color: var(--sl-color-gray-3);" : ""}>
                {Array.isArray(garage.position) ? (
                    <ul>
                    {garage.position.map((pos) => (
                        <li>{pos}</li>
                    ))}
                    </ul>
                ) : garage.position ? (
                    garage.position
                ) : (
                    'N/A'
                )}
                </td>
            </tr>
            ))}
        </tbody>
    </table>
    <p><span class="warningdot"> *</span>: Diagonal garage</p>

    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'reference:ID_Lists',
    ])} currentId='' />
</StarlightPage>

<style>
    .warningdot {
        color: red;
    }
    .garages-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
</style>