---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';

---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'ID Lists',
    tableOfContents: false,
}}>
    <ul>
        <li><a href="/reference/ID_Lists/Bones">Bones</a></li>
        <li><a href="/reference/ID_Lists/Damage_Types">Damage Types</a></li>
        <li><a href="/reference/ID_Lists/Garages">Garages</a></li>
        <li><a href="/reference/ID_Lists/Interiors">Interiors</a></li>
        <li><a href="/reference/ID_Lists/Vehicle_Colors">Vehicle Colors</a></li>
        <li><a href="/reference/ID_Lists/Vehicle_Variants">Vehicle Variants</a></li>
        <li><a href="/reference/ID_Lists/Weather">Weather</a></li>
    </ul>

    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'reference:Lua_API',
    ])} currentId='' />
</StarlightPage>
