---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';

---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'ID Lists',
    tableOfContents: false,
}}>
    <ul>
        <li><a href="/reference/ID_Lists/Bone_IDs">Bone IDs</a></li>
        <li><a href="/reference/ID_Lists/Vehicle_Colors">Vehicle Colors</a></li>
        <li><a href="/reference/ID_Lists/Vehicle_Variants">Vehicle Variants</a></li>
        <li><a href="/reference/ID_Lists/Weather">Weather</a></li>
    </ul>

    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'reference:Lua_API',
    ])} currentId='' />
</StarlightPage>
