---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';

import { Code } from '@astrojs/starlight/components';

const variantsById = {
  416: { vehicleName: "Ambulance", variants: "Numbers: 0 = 37, 1 = 71" },
  424: { vehicleName: "BF Injection", variants: "Body: 0 = Side Panels" },
  581: { vehicleName: "BF-400", variants: "Exhausts: 0 = Single Type1, 1 = Single Type2, 2 = Dual Type3 - Fairings (with Windshields): 3 = Half-size, 4 = Full-size" },
  607: { vehicleName: "Bagboxb", variants: "Contents: 0,1,2 = Various distributions of loose baggage" },
  485: { vehicleName: "Baggage", variants: "Rear Cargo Items: 0 = Earmuffs, 1 = Small Case, 2 = Large Case" },
  433: { vehicleName: "Barracks", variants: "Bed Covering: 0 = Opaque Fabric, 1 = Camo Netting" },
  499: { vehicleName: "Benson", variants: "Side Ads: 0 = Shady Industries, 1 = LSD, 2 = The Uphill Gardener, 3 = Discount Furniture" },
  459: { vehicleName: "Berkley's RC Van", variants: "0 = Boxes of Toys in Back" },
  504: { vehicleName: "Bloodring Banger", variants: "Numbers/Roof Color: 0 = 328/White, 1 = 464/Check, 2 = 172/Check, 3 = 100/White, 4 = 284/White, 5 = 505/Check" },
  422: { vehicleName: "Bobcat", variants: "Bed Items: 0 = Spare Tire, 1 = Sprunk Cans" },
  482: { vehicleName: "Burrito", variants: "Roof Items: 0 = Roof Lights + Spoiler" },
  457: { vehicleName: "Caddy", variants: "Rear Cargo (Driver Side): 0 = Golfbag1, 1 = Satchel1, 2 = Golfbag2, Rear Cargo (Pass Side): 3 = Satchel2, 4 = Golfbag3, 5 = Golfbag4" },
  483: { vehicleName: "Camper", variants: "0 = Open Curtains & Second Bench Seat, 1 = Open Roof Vent, Closed Curtains, Bed in Back, Peace Sign" },
  415: { vehicleName: "Cheetah", variants: "Side Mirrors: 0 = Single, Placed High, 1 = Dual, Placed Normally" },
  437: { vehicleName: "Coach", variants: "Name on Side: 0 = Big O Tours, 1 = Bikini Line" },
  472: { vehicleName: "Coastguard", variants: "Various Items 0 = Items all Over, 1 = Items Grouped in Back, 2 = Items all Over + 2 Oars in Front" },
  605: { vehicleName: "Damaged Sadler", variants: "Items in Bed: 0 = Two Propane Tanks & Crate, 1 = Two Barrels, 2 = Sprunk Cans, 3 = Open Crates, 4+ = Empty bed" },
  521: { vehicleName: "FCR-900", variants: "Exhausts: 0 = Single Type1, 1 = Dual Type1, 2 = Dual Type2, Fairings (with Windshields): 3 = Half-size, 4 = Full-size" },
  407: { vehicleName: "Fire Truck", variants: "Numbers: 0 = 64, 1 = 16, 2 = 47" },
  455: { vehicleName: "Flatbed", variants: "Numbers: 0 = 64, 1 = 16, 2 = 47" },
  434: { vehicleName: "Hotknife", variants: "0 = Partial Engine Cover" },
  502: { vehicleName: "Hotring Racer 2", variants: "Numbers: 0 = 82, 1 = 26, 2 = 65, 3 = 07, 4 = 36, 5 = 60" },
  503: { vehicleName: "Hotring Racer 3", variants: "Numbers: 0 = 96, 1 = 67, 2 = 73, 3 = 52, 4 = 45, 5 = 14" },
  571: { vehicleName: "Kart", variants: "Body Panels: 0 = Both Sides, 1 = Steering Column" },
  595: { vehicleName: "Launch", variants: "Roofs: 0 = Over passenger section, 1 = Over driver section" },
  484: { vehicleName: "Marquis", variants: "0 = Windshield over Cabin Entrance" },
  500: { vehicleName: "Mesa", variants: "0 = Roof Over Back, 1 = Roll Bar in Back" },
  556: { vehicleName: "Monster 2", variants: "0 = Roof Spoiler, 1 = Roof Lights, 2 = Roll Bar with Lights" },
  557: { vehicleName: "Monster 3", variants: "0 = Couldn't Determine 1 = Roof Lights" },
  423: { vehicleName: "Mr. Whoopee", variants: "Rear Sign: 0 = Cherry Popping Good, 1 = Slow Children Ahead" },
  414: { vehicleName: "Mule", variants: "Side Ads: 0 = Toy Corner, 1 = Binco, 2 = Semi, 3 = Shafted Appliances" },
  522: { vehicleName: "NRG-500", variants: "Exhausts: 0 = Single Pair1, 1 = Single Pair2, 2 = Dual Pair2 - Fairings (with Windshields): 3 = Smooth, 4 = With Side Cutouts" },
  470: { vehicleName: "Patriot", variants: "Cargo Area 0 = Low Cover, 1 = Roof/High Cover, 2 = Roll Bar" },
  404: { vehicleName: "Perennial", variants: "Cargo Area 0 = Low Cover, 1 = Roof/High Cover, 2 = Roll Bar" },
  600: { vehicleName: "Picador", variants: "Items in Bed: 0 = Planks, 1 = Sprunk Cans" },
  413: { vehicleName: "Pony", variants: "0 = Sound System in Back" },
  453: { vehicleName: "Reefer", variants: "Items in Back: 0 = Boxes of Fish, 1 = Bench" },
  442: { vehicleName: "Romero", variants: "Coffins: 0 = Brown Style1, 1 = Black Style2, 2 = Brown Style3" },
  440: { vehicleName: "Rumpo", variants: "Side Ads: 0 = Cok-o-Pops, 1 = Harry Plums, 2 = Dick Goblin's, 3 = Final Build, 4 = Transfender, 5 = Wheel Arch Angels" },
  601: { vehicleName: "S.W.A.T.", variants: "Number: 0 = 1, 1 = 9, 2 = 6, 3 = 7" },
  543: { vehicleName: "Sadler", variants: "Items in Bed: 0 = Two Propane Tanks & Crate, 1 = Two Barrels, 2 = Sprunk Cans, 3 = Open Crates, 4+ = Empty bed" },
  428: { vehicleName: "Securicar", variants: "Side Logo: 0 = Chuff, 1 = Lock&Load" },
  535: { vehicleName: "Slamvan", variants: "Steering Wheel: 0 = Normal, 1 = Chain (Default has none!)" },
  439: { vehicleName: "Stallion", variants: "Roof: 0 = Hardtop, 1 = Softtop (up), 2 = Softtop (folded)" },
  506: { vehicleName: "Super GT", variants: "0 = Full Roof" },
  435: { vehicleName: "Trailer 1", variants: "Side Ads: 0 = Cok-o-Pops, 1 = Munky Juice, 2 = Hinterland, 3 = Zip, 4 = RS Haul, 5 = Ranch" },
  450: { vehicleName: "Trailer 2", variants: "Contents: 0 = Filled with gravel/coal/stone" },
  449: { vehicleName: "Tram", variants: "0,1,2,3 = (4 defined extras, but I don't know what they are)" },
  408: { vehicleName: "Trashmaster", variants: "0 = Some bits of trash sticking out of the back" },
  583: { vehicleName: "Tug", variants: "Case in Back: 0 = Red Case, 1 = Green Case" },
  552: { vehicleName: "Utility Van", variants: "0 = Cones, Barrel in back + Cone lying on passenger side rail, 1 = Cones, Barrel in back + Cone lying on driver side rail" },
  478: { vehicleName: "Walton", variants: "Items in Bed: 0 = Two Propane Tanks, 1 = Open Crates, 2 = Propane Tank and Barrel" },
  555: { vehicleName: "Windsor", variants: "0 = Roof, 1 = No Roof" },
  456: { vehicleName: "Yankee", variants: "Side Ads: 0 = Big Gas, 1 = RS Haul, 2 = Star Balls, 3 = Flower Power" },
  477: { vehicleName: "ZR-350", variants: "0 = Rear Spoiler" }
};

const luaTable = `local vehicleVariantsByModel = {
  [404] = {0, 1, 2},
  [407] = {0, 1, 2},
  [408] = {0},
  [413] = {0},
  [414] = {0, 1, 2, 3},
  [415] = {0, 1},
  [416] = {0, 1},
  [422] = {0, 1},
  [423] = {0, 1},
  [424] = {0},
  [428] = {0, 1},
  [433] = {0, 1},
  [434] = {0},
  [435] = {0, 1, 2, 3, 4, 5},
  [437] = {0, 1},
  [439] = {0, 1, 2},
  [440] = {0, 1, 2, 3, 4, 5},
  [442] = {0, 1, 2},
  [453] = {0, 1},
  [455] = {0, 1, 2},
  [456] = {0, 1, 2, 3},
  [457] = {0, 1, 2, 3, 4, 5},
  [459] = {0},
  [470] = {0, 1, 2},
  [472] = {0, 1, 2},
  [478] = {0, 1, 2},
  [482] = {0},
  [483] = {0, 1},
  [484] = {0},
  [485] = {0, 1, 2},
  [499] = {0, 1, 2, 3},
  [500] = {0, 1},
  [502] = {0, 1, 2, 3, 4, 5},
  [503] = {0, 1, 2, 3, 4, 5},
  [504] = {0, 1, 2, 3, 4, 5},
  [506] = {0},
  [521] = {0, 1, 2, 3, 4},
  [522] = {0, 1, 2, 3, 4},
  [523] = {0},
  [535] = {0, 1},
  [543] = {0, 1, 2, 3, 4},
  [552] = {0, 1},
  [556] = {0, 1, 2},
  [557] = {0, 1},
  [571] = {0, 1},
  [581] = {0, 1, 2, 3, 4},
  [583] = {0, 1},
  [595] = {0, 1},
  [600] = {0, 1},
  [601] = {0, 1, 2, 3},
  [605] = {0, 1, 2, 3, 4},
  [607] = {0, 1, 2},
  [555] = {0, 1},
  [477] = {0},
}`;


---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'Vehicle Variants',
    tableOfContents: false,
}}>
    <p>
        Vehicle variants can be anything from different adverts to additional parts of the model.
        Related functions: <a href="/reference/setVehicleVariant">setVehicleVariant</a>, <a href="/reference/getVehicleVariant">getVehicleVariant</a> and <a href="/reference/createVehicle">createVehicle</a>.
    </p>
    
    <h3>Adding Variants</h3>
    <p>Adding variants requires modifying your <a href="https://gta.fandom.com/wiki/DFF" target="_blank">DFF</a> by adding a part of the model you wish to be a variant and naming it <strong>extra1</strong>, <strong>extra2</strong>, <strong>extra3</strong>, <strong>extra4</strong>, or <strong>extra5</strong> then setting its parent to the <strong>chassis_dummy</strong>; this tells GTA it has variant information.</p>

    <h3>Spawning Custom Variants</h3>
    <p>To spawn custom variants is to implicitly specify which variants you want in <a href="/reference/createVehicle">createVehicle</a>, or change the variant of an already existing vehicle using <a href="/reference/setVehicleVariant">setVehicleVariant</a>. Also, any invalid variant will show up as the default model with no variation.</p>

    <h2>GTA: San Andreas Vehicle Variants List</h2>
    <table>
        <thead>
            <tr>
                <th>Vehicle Name</th>
                <th>Vehicle ID</th>
                <th>Variants</th>
            </tr>
        </thead>
        <tbody>
            {Object.entries(variantsById).map(([id, { vehicleName, variants }]) => (
                <tr>
                    <td>{vehicleName}</td>
                    <td>{id}</td>
                    <td>{variants}</td>
                </tr>
            ))}
        </tbody>
    </table>
    <p>Above table serialized in Lua:</p>

    <Code code={luaTable} lang="lua" />

    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'reference:ID_Lists',
    ])} currentId='' />
</StarlightPage>
