---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';

import NoteBox from '@src/components/NoteBox.astro';
---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'Vehicle Colors',
    tableOfContents: false,
}}>
    <p>These are the <strong>Vehicle Color IDs</strong> that you can get with <a href="/reference/getVehicleColor">getVehicleColor</a> and set with <a href="/reference/setVehicleColor">setVehicleColor</a>.</p>
    <NoteBox type='tip'>Vehicles in MTA can also have RGB (red, green, blue) colors set with that same function, going beyond the 127 predefined colors listed here.</NoteBox>

    <div class="vctable">
        <div style="background: #000000;">0</div>
        <div style="background: #F5F5F5; color:black;">1</div>
        <div style="background: #2A77A1;">2</div>
        <div style="background: #840410;">3</div>
        <div style="background: #263739;">4</div>
        <div style="background: #86446E;">5</div>
        <div style="background: #D78E10;">6</div>
        <div style="background: #4C75B7;">7</div>
        <div style="background: #BDBEC6;">8</div>
        <div style="background: #5E7072;">9</div>
        <div style="background: #46597A;">10</div>
        <div style="background: #656A79;">11</div>
        <div style="background: #5D7E8D;">12</div>
        <div style="background: #58595A;">13</div>
        <div style="background: #D6DAD6;">14</div>
        <div style="background: #9CA1A3;">15</div>
        <div style="background: #335F3F;">16</div>
        <div style="background: #730E1A;">17</div>
        <div style="background: #7B0A2A;">18</div>
        <div style="background: #9F9D94;">19</div>
        <div style="background: #3B4E78;">20</div>
        <div style="background: #732E3E;">21</div>
        <div style="background: #691E3B;">22</div>
        <div style="background: #96918C;">23</div>
        <div style="background: #515459;">24</div>
        <div style="background: #3F3E45;">25</div>
        <div style="background: #A5A9A7;">26</div>
        <div style="background: #635C5A;">27</div>
        <div style="background: #3D4A68;">28</div>
        <div style="background: #979592;">29</div>
        <div style="background: #421F21;">30</div>
        <div style="background: #5F272B;">31</div>
        <div style="background: #8494AB;">32</div>
        <div style="background: #767B7C;">33</div>
        <div style="background: #646464;">34</div>
        <div style="background: #5A5752;">35</div>
        <div style="background: #252527;">36</div>
        <div style="background: #2D3A35;">37</div>
        <div style="background: #93A396;">38</div>
        <div style="background: #6D7A88;">39</div>
        <div style="background: #221918;">40</div>
        <div style="background: #6F675F;">41</div>
        <div style="background: #7C1C2A;">42</div>
        <div style="background: #5F0A15;">43</div>
        <div style="background: #193826;">44</div>
        <div style="background: #5D1B20;">45</div>
        <div style="background: #9D9872;">46</div>
        <div style="background: #7A7560;">47</div>
        <div style="background: #989586;">48</div>
        <div style="background: #ADB0B0;">49</div>
        <div style="background: #848988;">50</div>
        <div style="background: #304F45;">51</div>
        <div style="background: #4D6268;">52</div>
        <div style="background: #162248;">53</div>
        <div style="background: #272F4B;">54</div>
        <div style="background: #7D6256;">55</div>
        <div style="background: #9EA4AB;">56</div>
        <div style="background: #9C8D71;">57</div>
        <div style="background: #6D1822;">58</div>
        <div style="background: #4E6881;">59</div>
        <div style="background: #9C9C98;">60</div>
        <div style="background: #917347;">61</div>
        <div style="background: #661C26;">62</div>
        <div style="background: #949D9F;">63</div>
        <div style="background: #A4A7A5;">64</div>
        <div style="background: #8E8C46;">65</div>
        <div style="background: #341A1E;">66</div>
        <div style="background: #6A7A8C;">67</div>
        <div style="background: #AAAD8E;">68</div>
        <div style="background: #AB988F;">69</div>
        <div style="background: #851F2E;">70</div>
        <div style="background: #6F8297;">71</div>
        <div style="background: #585853;">72</div>
        <div style="background: #9AA790;">73</div>
        <div style="background: #601A23;">74</div>
        <div style="background: #20202C;">75</div>
        <div style="background: #A4A096;">76</div>
        <div style="background: #AA9D84;">77</div>
        <div style="background: #78222B;">78</div>
        <div style="background: #0E316D;">79</div>
        <div style="background: #722A3F;">80</div>
        <div style="background: #7B715E;">81</div>
        <div style="background: #741D28;">82</div>
        <div style="background: #1E2E32;">83</div>
        <div style="background: #4D322F;">84</div>
        <div style="background: #7C1B44;">85</div>
        <div style="background: #2E5B20;">86</div>
        <div style="background: #395A83;">87</div>
        <div style="background: #6D2837;">88</div>
        <div style="background: #A7A28F;">89</div>
        <div style="background: #AFB1B1;">90</div>
        <div style="background: #364155;">91</div>
        <div style="background: #6D6C6E;">92</div>
        <div style="background: #0F6A89;">93</div>
        <div style="background: #204B6B;">94</div>
        <div style="background: #2B3E57;">95</div>
        <div style="background: #9B9F9D;">96</div>
        <div style="background: #6C8495;">97</div>
        <div style="background: #4D5D60;">98</div>
        <div style="background: #AE9B7F;">99</div>
        <div style="background: #406C8F;">100</div>
        <div style="background: #1F253B;">101</div>
        <div style="background: #AB9276;">102</div>
        <div style="background: #134573;">103</div>
        <div style="background: #96816C;">104</div>
        <div style="background: #64686A;">105</div>
        <div style="background: #105082;">106</div>
        <div style="background: #A19983;">107</div>
        <div style="background: #385694;">108</div>
        <div style="background: #525661;">109</div>
        <div style="background: #7F6956;">110</div>
        <div style="background: #8C929A;">111</div>
        <div style="background: #596E87;">112</div>
        <div style="background: #473532;">113</div>
        <div style="background: #44624F;">114</div>
        <div style="background: #730A27;">115</div>
        <div style="background: #223457;">116</div>
        <div style="background: #640D1B;">117</div>
        <div style="background: #A3ADC6;">118</div>
        <div style="background: #695853;">119</div>
        <div style="background: #9B8B80;">120</div>
        <div style="background: #620B1C;">121</div>
        <div style="background: #5B5D5E;">122</div>
        <div style="background: #624428;">123</div>
        <div style="background: #731827;">124</div>
        <div style="background: #1B376D;">125</div>
        <div style="background: #EC6AAE;">126</div>
    </div>

    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'reference:ID_Lists',
    ])} currentId='' />
</StarlightPage>

<style>
    .vctable {
        font-family: tahoma, arial, helvetica;
        color: white;
        display: flex;
        flex-wrap: wrap;
    }
    .vctable > div {
        width: 50px;
        height: 50px;
        border: 1px solid black;
        padding: 0;
        margin: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>