---
import { functionTypePrettyName } from '@src/utils/functions';
---
<div class="page-title-container">
    <h1>{Astro.locals.starlightRoute.entry.data.title}</h1>

    <div class="type-badge type-badge--client">{functionTypePrettyName['client']}</div>
    <div class="type-badge type-badge--server">{functionTypePrettyName['server']}</div>
    <div class="type-badge type-badge--shared">{functionTypePrettyName['shared']}</div>
</div>

<style is:global>
    .show-type-badge-client {
        --selected-type-color: var(--color-type-client);
    }
    .show-type-badge-server {
        --selected-type-color: var(--color-type-server);
    }
    .show-type-badge-shared {
        --selected-type-color: var(--color-type-shared);
    }

    .show-type-badge-client .type-badge--client {
        display: block;
    }
    .show-type-badge-server .type-badge--server {
        display: block;
    }
    .show-type-badge-shared .type-badge--shared {
        display: block;
    }
</style>

<style>
    .type-badge {
        font-size: 12px;
        border-radius: .25rem;
        text-transform: uppercase;
        font-weight: bold;
        display: none;
    }

    .type-badge.type-badge--client {
        color: var(--color-type-client);
    }
    .type-badge.type-badge--server {
        color: var(--color-type-server);
    }
    .type-badge.type-badge--shared {
        color: var(--color-type-shared);
    }

	h1 {
		font-size: var(--sl-text-h1);
		line-height: var(--sl-line-height-headings);
		font-weight: 600;
		color: var(--sl-color-white);
	}

    .page-title-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        border-bottom: 1px solid var(--selected-type-color);
        padding-bottom: 1.5rem;
        margin-bottom: calc(-1.5rem - 1px);
        position: relative;
    }

    @media (width >= 48rem) {
        .type-badge {
            font-size: initial;
            padding: .15rem 1.5rem;
        }

        .type-badge.type-badge--client {
            background-color: var(--color-type-client-background);
            border: 1px solid var(--color-type-client);
        }
        .type-badge.type-badge--server {
            background-color: var(--color-type-server-background);
            border: 1px solid var(--color-type-server);
        }
        .type-badge.type-badge--shared {
            background-color: var(--color-type-shared-background);
            border: 1px solid var(--color-type-shared);
        }

        .page-title-container {
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            margin-top: 1rem;
        }
    }
</style>
