/* Custom MTA Wiki CSS */
:root {
    --color-type-shared: rgba(117, 117, 255, 1);
    --color-type-shared-background: rgba(117, 117, 255, 0.05);
    --color-type-shared-background-high: rgba(117, 117, 255, 0.5);
    --color-type-client: rgba(255, 50, 50, 1);
    --color-type-client-background: rgba(255, 50, 50, 0.05);
    --color-type-client-background-high: rgba(255, 50, 50, 0.5);
    --color-type-server: rgba(232, 115, 0, 1);
    --color-type-server-background: rgba(232, 115, 0, 0.05);
    --color-type-server-background-high: rgba(232, 115, 0, 0.5);
    
    /* Override Starlight styling */
    --sl-content-width: 70rem;
}
.small-text {
    font-size: 0.7em;
}

.function-syntax,
.function-oop,
.notes-section,
.examples-section,
.changelog-section {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.preview-images {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.see-also-section {
    margin-top: 4rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 1.5rem;
}

.code-example {
    margin-bottom: 1.5rem;
}
.code-example > :first-child {
    margin-bottom: 0.5rem;
}
.code-example > :last-child {
    margin-bottom: 0;
}

/* Styling for "Client-side / Server-side / Shared" */
.side-shared {
    color: var(--color-type-shared);
}
.side-client {
    color: var(--color-type-client);
}
.side-server {
    color: var(--color-type-server);
}

.mta-keyword-link {
    color: inherit;
    text-decoration: none;
}

.mta-keyword-link:hover {
    font-weight: 100;
}