/* Custom MTA Wiki CSS */
:root {
    --color-type-shared: rgba(117, 117, 255, 1);
    --color-type-shared-background: rgba(117, 117, 255, 0.05);
    --color-type-client: rgba(255, 50, 50, 1);
    --color-type-client-background: rgba(255, 50, 50, 0.05);
    --color-type-server: rgba(232, 115, 0, 1);
    --color-type-server-background: rgba(232, 115, 0, 0.05);
    
    /* Override Starlight styling */
    --sl-content-width: 70rem;
}
.small-text {
    font-size: 0.7em;
}

/* Styling for "Client-side / Server-side / Shared" */
.side-shared {
    color: var(--color-type-shared);
}
.side-client {
    color: var(--color-type-client);
}
.side-server {
    color: var(--color-type-server);
}
