.small-text {
    font-size: 0.7em;
}

.function-syntax,
.function-oop,
.notes-section,
.examples-section {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.function-syntax h3,
.function-oop h3,
.examples-section h3 {
    margin-bottom: 0.75rem;
    border-bottom: 1px solid var(--sl-color-gray-5);
    padding-bottom: 0.25rem;
}

.function-example {
    margin-bottom: 1.5rem;
}
.function-example > :first-child {
    margin-bottom: 0.5rem;
}
.examples-section .function-example:last-child {
    margin-bottom: 0;
}