---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { OLD_WIKI_URL, OLD_WIKI_REDIRECT } from '@src/content.constants';
---

<StarlightPage frontmatter={{
  template: 'splash',
  title: '404',
  hero: {
    title: '404',
    tagline: Astro.locals.t('404.text')
  }
}}>
    {OLD_WIKI_REDIRECT && (
        <h4>You will be redirected to the old MTA Wiki in <strong><span id="countdown">5</span> seconds...</strong></h4>
    )}
</StarlightPage>

<script is:inline define:vars={{ OLD_WIKI_URL, OLD_WIKI_REDIRECT }}>
    if (!OLD_WIKI_REDIRECT) {
        return;
    }
    let countdown = 5;
    const el = document.getElementById('countdown');
    const interval = setInterval(() => {
    countdown -= 1;
    if (el) el.textContent = countdown;
    if (countdown <= 0) {
        clearInterval(interval);
        let path = location.pathname;
        // Remove trailing slash if any
        path = path.endsWith('/') ? path.slice(0, -1) : path;
        window.location.replace(OLD_WIKI_URL + path);
    }
    }, 1000);
</script>
