---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { OLD_WIKI_URL, OLD_WIKI_REDIRECT } from '@src/content.constants';
const url = new URL(Astro.request.url);
const pathname = url.pathname;
const redirectUrl = `${OLD_WIKI_URL}/${pathname}`;
---

<StarlightPage frontmatter={{
  template: 'splash',
  title: '404',
  hero: {
    title: '404',
    tagline: Astro.locals.t('404.text')
  }
}}>
    <p>Sorry, the page <strong>{pathname}</strong> could not be found.</p>
    {OLD_WIKI_REDIRECT && (
        <p>This page doesn't exist here. You will be redirected to the old MTA Wiki in <strong><span id="countdown">5</span> seconds...</p></strong>
        <a href={redirectUrl} target="_blank" rel="noopener noreferrer">
            <p>Click here to view the page on the old MTA Wiki</p>
        </a>
    )}
</StarlightPage>

<script is:inline define:vars={{ OLD_WIKI_REDIRECT, redirectUrl }}>
    if (!OLD_WIKI_REDIRECT) {
        return;
    }
    let countdown = 5;
    const el = document.getElementById('countdown');

    const interval = setInterval(() => {
    countdown -= 1;
    if (el) el.textContent = countdown;
    if (countdown <= 0) {
        clearInterval(interval);
        window.location.href = redirectUrl;
    }
    }, 1000);
</script>
