---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getCollection } from 'astro:content';
import { marked } from 'marked';
import { getSeeAlsoLinksForItem } from '@src/utils/general';
import { getElementCategory } from '@src/utils/elements';

import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';

export async function getStaticPaths() {
  const elements = await getCollection('elements');
  return elements.map(element => ({
    params: { element: element.id },
    props: { element },
  }));
}

const { element } = Astro.props;
element.data.itemType = 'element';
  
---
<StarlightPage frontmatter={{
  template: 'doc',
  title: element.id,
  tableOfContents: false,
}}>
  <p>Category: <strong>{getElementCategory(element)}</strong></p>

  <Fragment set:html={marked(element.data.description)} />

  <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksForItem(element)} currentId={element.id} />
</StarlightPage>

