---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';
import { getEventsByTypeByCategory } from '@src/utils/events';

const eventsByTypeByCategory = getEventsByTypeByCategory();
const theseEvents = eventsByTypeByCategory.client;
---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'Client events',
    tableOfContents: false,
}}>
    <p>This page lists all <strong>client-side</strong> events available in the <a href="/Lua_API">Lua API</a> organized by category.</p>

    {Object.entries(theseEvents).map(([category, events]) => (
        <section>
            <details open>
                <summary>{category} events</summary>
                <ul>
                    {events.map(event => (
                        <li><a href={`/${event.id}`}>{event.id}</a></li>
                    ))}
                </ul>
            </details>
        </section>
    ))}

    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'article:Scripting_Events',
        'article:Server_Scripting_Events',
        'article:Scripting_Functions',
        'article:Client_Scripting_Functions',
        'article:Server_Scripting_Functions',
        'article:Shared_Scripting_Functions',
    ])} currentId='' />
</StarlightPage>
