---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getEventsByTypeByCategory } from '@src/utils/events';

const eventsByTypeByCategory = getEventsByTypeByCategory();
const theseEvents = eventsByTypeByCategory.client;
---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'Client events',
    tableOfContents: false,
}}>
    <p>This page lists all <strong>client-side</strong> events available in the <a href="/lua-api">Lua API</a> organized by category.</p>

    {Object.entries(theseEvents).map(([category, events]) => (
        <section>
            <details>
                <summary>{category} events</summary>
                <ul>
                    {events.map(event => (
                        <li><a href={`/${event.id}`}>{event.id}</a></li>
                    ))}
                </ul>
            </details>
        </section>
    ))}
</StarlightPage>
