---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';
import { getFunctionsByTypeByCategory } from '@src/utils/functions';
import CategoryList from '@src/components/CategoryList.astro';

const functionsByTypeByCategory = getFunctionsByTypeByCategory();
const theseFunctions = functionsByTypeByCategory.client;
---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'Client functions',
    tableOfContents: false,
}}>
    <p>This page lists all <span class="side-client"><strong>client-side</strong></span> functions available in the <a href="/Lua_API">Lua API</a> organized by category.</p>

    <CategoryList itemsByCategory={theseFunctions} what="client_functions" />

    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'article:Scripting_Functions',
        'article:Shared_Scripting_Functions',
        'article:Server_Scripting_Functions',
        'article:Scripting_Events',
        'article:Client_Scripting_Events',
        'article:Server_Scripting_Events',
    ])} currentId='' />
</StarlightPage>
