---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';
import { getOOPClassesByCategory } from '@src/utils/classes';
const classesByCategory = getOOPClassesByCategory();
---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'OOP Classes',
    tableOfContents: false,
}}>
    <p>This page lists all <strong><a href="/OOP">OOP</a> Classes</strong> available in the <a href="/Lua_API">Lua API</a> organized by category.</p>

    
    {Object.entries(classesByCategory).map(([category, oopClasses]) => (
        <section>
            <details>
                <summary>{category} classes</summary>
                <ul>
                    {oopClasses.map(oopClass => (
                        <li><a href={`/${oopClass.id}`}>{oopClass.id}</a></li>
                    ))}
                </ul>
            </details>
        </section>
    ))}

    
    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'article:OOP_Introduction',
    ])} currentId='' />
</StarlightPage>
