---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';
import { getFunctionsByCategory } from '@src/utils/functions';
import CategoryList from '@src/components/CategoryList.astro';

const functionsByCategory = getFunctionsByCategory();
---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'All functions',
    tableOfContents: false,
}}>
    <p>This page lists all <span class="side-client"><strong>client-side</strong></span>, <span class="side-server"><strong>server-side</strong></span> and <span class="side-shared"><strong>shared</strong></span> functions available in the <a href="/Lua_API">Lua API</a> organized by category.</p>

    <CategoryList itemsByCategory={functionsByCategory} what="all_functions" />

    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'article:Shared_Scripting_Functions',
        'article:Client_Scripting_Functions',
        'article:Server_Scripting_Functions',
        'article:Scripting_Events',
        'article:Client_Scripting_Events',
        'article:Server_Scripting_Events',
    ])} currentId='' />
</StarlightPage>
