---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<StarlightPage frontmatter={{
    template: 'doc',
    title: 'Filepath',
    tableOfContents: false,
}}>
<p>
  A <code>filepath</code> is a path that leads up to a file. These are relative to the root directory of the resource it is being called from.
</p>

<div>It is also possible to use special filepaths in order to reference files from other resources. This can be done with the following syntax:
  <pre><code>:&lt;resourceName&gt;/file.ext</code></pre>
  <p>So, for example:</p>
  <pre><code>xmlLoadFile ( ":helpmanager/help.xml" )</code></pre>
</div>

<div class="note">
  <strong>Note:</strong> Server-side filepaths which refer to resources will work correctly even if the other resource is not running. However, client-side filepaths require the target resource to be running.
</div>

<h3>Client file security</h3>

<div>
  <p>To protect a client file from being read by another server, prepend the filepath with <code>@</code> when the file is created:</p>
  <pre><code>xmlCreateFile ( "@:myresource/someinfo.xml" )</code></pre>
  <pre><code>fileCreate ( "@listofthings.txt" )</code></pre>
  <p>To read a private file, <code>@</code> must also be prepended when the file is reopened:</p>
  <pre><code>xmlLoadFile ( "@:myresource/someinfo.xml" )</code></pre>
  <pre><code>fileOpen ( "@listofthings.txt" )</code></pre>
  <p>Notes:</p>
  <ul>
    <li>The filepath without <code>@</code> is read/writeable by all servers.</li>
    <li>The public and all the private versions of a particular filepath can exist at the same time. Which one is accessed depends upon the usage of <code>@</code> and the server that is currently connected.</li>
    <li>The server file <code>mods/deathmatch/server-id.keys</code> is used for private file security. Keep a copy of it in a safe place!</li>
  </ul>
</div>

</StarlightPage>