---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';
import { getOOPElementsByCategory } from '@src/utils/elements';
const elementsByCategory = getOOPElementsByCategory();
---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'OOP Classes',
    tableOfContents: false,
}}>
    <p>This page lists all <strong>special classes</strong> only available in the <a href="/reference/Lua_API">Lua API</a> using <a href="/reference/OOP">OOP</a>.</p>

    <p><strong>Vectors</strong> and <strong>Matrices</strong> make it easier to drop the complex maths and go straight ahead with fun part of maths.</p>
    <p>OOP does not have to be enabled in the server config for this to be enabled.</p>
    
    {Object.entries(elementsByCategory).map(([category, elements]) => (
        <section>
            <details open>
                <summary>{category} classes</summary>
                <ul>
                    {elements.map(element => (
                        <li><a href={`/reference/${element.id}`}>{element.id}</a></li>
                    ))}
                </ul>
            </details>
        </section>
    ))}

    
    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'reference:OOP',
        'reference:Element',
    ])} currentId='' />
</StarlightPage>
