---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';
import { getEventsByCategory } from '@src/utils/events';
import CategoryList from '@src/components/CategoryList.astro';
const eventsByCategory = getEventsByCategory();
---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'All Events',
    tableOfContents: false,
}}>
    <p>This page lists all <span class="side-client"><strong>client-side</strong></span> and <span class="side-server"><strong>server-side</strong></span> events available in the <a href="/reference/Lua_API">Lua API</a> organized by category.</p>

    <CategoryList itemsByCategory={eventsByCategory} what="all_events" />

    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'reference:Client_Scripting_Events',
        'reference:Server_Scripting_Events',
        'reference:Scripting_Functions',
        'reference:Shared_Scripting_Functions',
        'reference:Client_Scripting_Functions',
        'reference:Server_Scripting_Functions',
    ])} currentId='' />
</StarlightPage>

<script>
    document.querySelectorAll('.side-type-color').forEach(el => {
        const type = el.textContent || '';
        el.classList.add(`side-${type.toLowerCase()}`);
    });

</script>