---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';
import { getEventsByTypeByCategory } from '@src/utils/events';
import CategoryList from '@src/components/CategoryList.astro';

const eventsByTypeByCategory = getEventsByTypeByCategory();
const theseEvents = eventsByTypeByCategory.server;
---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'Server events',
    tableOfContents: false,
}}>
    <p>This page lists all <span class="side-server"><strong>server-side</strong></span> events available in the <a href="/reference/Lua_API">Lua API</a> organized by category.</p>

    <CategoryList itemsByCategory={theseEvents} what="server_events" />

<SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'reference:Scripting_Events',
        'reference:Client_Scripting_Events',
        'reference:Scripting_Functions',
        'reference:Shared_Scripting_Functions',
        'reference:Client_Scripting_Functions',
        'reference:Server_Scripting_Functions',
    ])} currentId='' />
</StarlightPage>
