---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';
import { getFunctionsByTypeByCategory } from '@src/utils/functions';
import CategoryList from '@src/components/CategoryList.astro';

const functionsByTypeByCategory = getFunctionsByTypeByCategory();
const theseFunctions = functionsByTypeByCategory.shared;
---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'Shared Functions',
    tableOfContents: false,
}}>
    <p>This page lists all <span class="side-shared"><strong>shared</strong></span> functions available in the <a href="/reference/Lua_API">Lua API</a> organized by category.</p>

    <CategoryList itemsByCategory={theseFunctions} what="shared_functions" />

    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'reference:Scripting_Functions',
        'reference:Client_Scripting_Functions',
        'reference:Server_Scripting_Functions',
        'reference:Scripting_Events',
        'reference:Client_Scripting_Events',
        'reference:Server_Scripting_Events',
    ])} currentId='' />
</StarlightPage>
