---
import { Code } from '@astrojs/starlight/components';
import { marked } from 'marked';
import NeedsExample from '@src/components/NeedsExample.astro';

export interface CodeExample {
  description?: string;
  luaCode: string;
}

export interface Props {
  codeExamples: CodeExample[];
}

const { codeExamples } = Astro.props;
---

<div class="examples-section">
  <h4>Code Examples</h4>

  {codeExamples.length > 0 ? (
    codeExamples.map((example) => (
      <div class="code-example">
        {example.description && (
          <Fragment set:html={marked(example.description)} />
        )}
        <Code code={example.luaCode} lang="lua" />
      </div>
    ))
  ) : (
    <NeedsExample />
  )}
</div>

<script type="module" src="/mta-keyword_linker.js"></script>
