---
import type { SeeAlsoLinkGroup } from "@src/utils/general";
import { getBadgeConfig } from "@src/utils/badges";
import { Badge } from "@astrojs/starlight/components";

export interface Props {
  seeAlsoLinks: SeeAlsoLinkGroup[];
  currentId: string;
}

const { seeAlsoLinks, currentId } = Astro.props;
---

{
  seeAlsoLinks.length > 0 && (
    <div class="see-also-section" data-pagefind-ignore>
      <h4>See Also</h4>
      {seeAlsoLinks.map((group) => (
        <div class="see-also-group">
          <h5>{group.title}</h5>
          <ul>
            {group.links.map((link) => (
              <li>
                {link.name === currentId ? (
                  <strong>{link.name.replace(/_/g, " ")}</strong>
                ) : (
                  <a
                    target={link.newTab ? "_blank" : "_self"}
                    rel={link.newTab ? "noopener noreferrer" : undefined}
                    href={link.link}
                  >
                    {link.name.replace(/_/g, " ")}
                  </a>
                )}

                {link.badge &&
                  (() => {
                    const config = getBadgeConfig(link.badge) || {text: link.badge, variant: "default"};

                    return (
                      <Badge
                        text={config.text}
                        variant={config.variant}
                        size="medium"
                        style="font-weight: bold;"
                      />
                    );
                  })()}
              </li>
            ))}
          </ul>
        </div>
      ))}
    </div>
  )
}
